.quoteboardBody {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 3.5em;
}

.quoteboardleftside {
  /* position: fixed;
  width: 100%;
  height: 100%; */
  /* background-color: #56606a; */
  background-image: url("../../image/blur_darkwave.jpg");
  background-position: center;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* filter: blur(9px); */
  /* -webkit-filter: blur(9px); */
  /* background-repeat: no-repeat; */
  /* min-height: 100vh; */
  /* transform: scale(1.04); */
  min-height: 100vh;
}

.quoteboardrightside {
  /* background-color: #dddddd; */
  background-image: url("../../image/blurforest.jpg");
  background-position: center;
  min-height: 100vh;

  /* min-height: 100vh; */
}

@media only screen and (max-width: 767px) {
  .quoteboardleftside {
    min-height: 100%;
    padding-bottom: 5%;
  }
}
