.quoteBoxBg {
  position: relative;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 5);
  background-attachment: fixed;
  border-radius: 9px;
  /* position: relative;
  max-width: 100%;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 5);
  margin-top: 4%;
  margin-bottom: 4%;
  background-attachment: fixed;
  border-radius: 9px; */
}

/* filter: blur(8px);
  -webkit-filter: blur(8px); */
.quoteBox {
  margin-bottom: 4%;
  padding: 2.1em;
  /* background-color: #ffffff; */
  /* opacity: 0.5; */
  /* color: #5b5b57; */
}
.quoteBoxQuoteH3 {
  overflow-x: hidden;
}

.quoteBox h1,
.quoteBox h2,
.quoteBox .quoteBoxQuoteH3{
  opacity: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  color: #ffffff;
  overflow-x: hidden;
  font-size: 1.7em;
}


.quoteBoxAuthorStar {
  text-align: right;
}
.quoteBox .quoteBoxAuthorStar span {
  color: #ffffff;
}
.quoteboxratebtn {
  margin-right: 0.5rem;
}

.quoteboxAuthor {
  margin-right: 0.5rem;
}

/* 
filter: blur(8px);
-webkit-filter: blur(8px);
z-index: 2; */
