.quoteBoxBg {
  /* content: ""; */
  position: relative;
  max-width: 100%;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 5);
  /* overflow: hidden; */
  margin-top: 4%;
  margin-bottom: 4%;
  background-attachment: fixed;
  border-radius: 9px;

  /* opacity: 0.5; */
  /* filter: blur(2px); */

  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

/* filter: blur(8px);
  -webkit-filter: blur(8px); */
.quoteBox {
  padding: 5%;
  /* background-color: #ffffff; */
  /* opacity: 0.5; */
  /* color: #5b5b57; */
}

.quoteBox h1,
.quoteBox h2,
.quoteBox h3 {
  text-align: left;
  opacity: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  color: #ffffff;
}
.quoteBoxAuthorStar {
  text-align: right;
}
.quoteBox .quoteBoxAuthorStar span {
  color: #ffffff;
}

/* 
filter: blur(8px);
-webkit-filter: blur(8px);
z-index: 2; */
