.quoteBox {
  margin: 1%;
  padding: 1%;
  background-color: #f8f2e6;
  color: #706a5c;
}

.quoteBoxQuoteH1 {
  text-align: left;
}
.quoteBoxQuoteH2 {
  text-align: left;
}
.quoteBoxQuoteH3 {
  text-align: left;
}
.quoteBoxAuthorStar {
  text-align: right;
}
