.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  color: chartreuse;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  height: 37px;
  transition: all 250ms ease-in-out;
}

form input.invalid {
  border-color: red;
}

.header h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

label {
  font-size: 20px;
  margin-bottom: 0.25em;
}

input::placeholder {
  font-weight: lighter;
}

.username,
.email,
.password,
.confirmPassword {
  display: flex;
  flex-direction: column;
}

.username,
.email {
  width: 100%;
}

.password {
  width: 100%;
}

.confirmPassword {
  width: 100%;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.createAccount {
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.createAccount button {
  width: 100%;
}

/* bakground image */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  background-size: cover;
  mix-blend-mode: overlay;
  background-blend-mode: darken;
}
