.signupBody .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signupBody .wrapper .form-wrapper .header {
  color: chartreuse;
}

.signupBody .wrapper .form-wrapper {
  display: flex;
  flex-direction: column;
}

.signupBody form {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.signupBody .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signupBody input {
  height: 37px;
  transition: all 250ms ease-in-out;
}

.signupBody form input.invalid {
  border-color: red;
}

.signupBody .header h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

.signupBody label {
  margin-bottom: 0.25em;
}

.signupBody input::placeholder {
  font-weight: lighter;
}

.signupBody .username,
.signupBody .email,
.signupBody .password,
.signupBody .confirmPassword {
  display: flex;
  flex-direction: column;
}

.signupBody .username,
.signupBody .email {
  width: 100%;
}

.signupBody .password {
  width: 100%;
}

.signupBody .confirmPassword {
  width: 100%;
}

.signupBody input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.signupBody .createAccount {
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.signupBody .createAccount button {
  width: 100%;
}

/* bakground image */
/* .signupBody .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  background-size: cover;
  mix-blend-mode: overlay;
  background-blend-mode: darken;
} */
