.personalquoteBoxBg {
  position: relative;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 5);
  background-attachment: fixed;
  border-radius: 9px;
  /* position: relative;
    max-width: 100%;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 5);
    margin-top: 4%;
    margin-bottom: 4%;
    background-attachment: fixed;
    border-radius: 9px; */
}

/* filter: blur(8px);
    -webkit-filter: blur(8px); */
.personalquoteBox {
  margin-bottom: 4%;
  padding: 2.1em;
  /* background-color: #ffffff; */
  /* opacity: 0.5; */
  /* color: #5b5b57; */
}
.personalquoteBoxQuoteH3 {
  /* overflow-x: hidden; */
  overflow-wrap: break-all;
}

.personalquoteBox h1,
.personalquoteBox h2,
.personalquoteBox h3 {
  opacity: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  color: #444444;
  font-size: 1.7em;
}
.personalquoteBoxAuthorStar {
  text-align: right;
}
.personalquoteBox .personalquoteBoxAuthorStar span {
  color: #444444;
}

/* 
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 2; */
