.signupsigninBody {
  padding-top: 10%;
}
.signupsigninBody {
  background-image: url("../../image/concretetree.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.signupsigninBody .signupsignin {
  width: 27em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signupsigninBody .signupsignin .container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 9px;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 480px;
  z-index: 99;
}

.signupsigninBody .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  background-color: #3498db;
  width: 100%;
  position: absolute;

  border-radius: 6px;

  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.signupsigninBody .right {
  right: -40%;
  align-items: flex-end;
}

.signupsigninBody .left {
  right: 40%;
  align-items: flex-start;
}

.signupsigninBody .text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}

.signupsigninBody .btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;

  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
