.teamName {
  margin-left: 5%;
}
.searchBar {
  margin-right: 2%;
}
.userProfileIcon {
  margin-right: 10%;
}

.bg-custom-navbarsignin {
  background-color: rgba(0, 0, 0, 0);
}
.bg-custom-navbar {
  background-color: rgba(0, 0, 0, 0.35);
}
